<a href="https://colab.research.google.com/github/nileshmalode11/python_Assignment/blob/main/python_basic_Assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem** **1**

As an analyst, you had to present the quarterly performance results of your client. The data which you were provided was on daily basis. To complete this task, you needed to extract the quarter from a given date. 

For example:

if the date lies between 1st Jan, 2020 - 31st March, 2020, you need to extract the corresponding quarter as '2020-Q1'

if the date lies between 1st April, 2020 - 30th June, 2020, the extracted quarter will be '2020-Q2'

if the date lies between 1st July, 2020 - 30th September, 2020, the extracted quarter will be '2020-Q3'

if the date lies between 1st October, 2020 - 31st Decemeber, 2020 then the extracted quarter will be '2020-Q4'

**Solution**

In [ ]:
# Take a proper date input from the user in the format YYYY-MM-DD. Consider this date as a string
user_date =str(input())

# Write your code using if else statements to extract the quarter
date_year = "2020"
date_month = "7"

if (date_month >= "01") & (date_month <="03"):
      print("quarter = ", date_year + '-Q1')
elif (date_month >= "04") & (date_month <="06"):
      print("quarter = ", date_year + '-Q2')
elif (date_month >= "07") & (date_month <="09"):
      print("quarter = ", date_year + '-Q3')
else:
      print("quarter = ", date_year + '-Q4')

# Store the quarter value in a string variable named quarter

22-11-20
quarter =  2020-Q4


**Problem** **2**

You went out in your local neighbourhood to collect the data of people residing in the locale. You surveyed 5 people and collected some data and stored that in a dictionary. You recorded their names, their age, their sex, their heights(in cms) and their weights(in kgs)

**Solution**

In [1]:
# Surveyed data 

locality_data = {'Name' : ['Abhinav','Sohail','Dheeraj','Rashmi','Vaishali'],
                  'Age' : [42,29,35,28,32],
                  'Sex' : ['Male', 'Male','Male','Female','Female'] , 
                  'Height' : [172,175,170,168,170],
                  'Weight' : [70,82,60,55,64]
                 }


Find the mean and median heights and weights of the people in your locality

In [ ]:
# Calculate the mean height and print it
heights=locality_data.get('Height')
mean_height = sum(heights) / len(heights)
print("The mean height ",+mean_height)

# Calculate the median height and print it
import statistics
median_heights = statistics.median(heights)

print("The median height ",+median_heights,'\n')

# Calculate the mean weight and print it
weight=locality_data.get('Weight')
mean_weight = sum(weight) / len(weight)
print("The mean weight ",+ mean_weight)


# Calculate the median weight and print it
median_weight = statistics.median(weight)

print('The median weight ',+median_weight)

The mean height  171.0
The median height  170

The mean weight  66.2
The median weight  64

Write a Python code to print the first three elements from the list of age values corresponding to the key 'Age'

In [4]:
# Python code to print the first three elements for the key 'Age'
age=locality_data.get('Age')

ages = age[0:3]
print(ages)

[42, 29, 35]

**Problem** **3**

A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user

Number of classes held

Number of classes attended.

In [5]:
# Enter your input

print("Number of classes held")
classes_held = int(input())

print("Number of classes attended")
classes_attended = int(input())

Number of classes held
75
Number of classes attended
61

In [6]:
# Calculate the attendance percentage
attendance = classes_attended*100/classes_held

print(f'The attendance is {attendance}')

The attendance is 81.33333333333333

And print the following statements based on the condition above

percentage of class attended

Is student is allowed to sit in exam or not

In [ ]:
#student is allowed to sit exam or not
if attendance>=(classes_attended*100/classes_held):
  print("Allowed to sit in exam")
else:
  print("Not Allowed to sit in exam")

**Problem** **4**

A school has following rules for grading system:
Below 25 - F

25 to 45 - E

45 to 50 - D

50 to 60 - C

60 to 80 - B

Above 80 - A

Keep the left number inclusive and the right number exclusive, something like [25,45) for grade E where the set is closed at 25 and open at 45.

Write a Python code which takes marks as inputs from the user and print the corresponding grade.

In [14]:
# Your input here 
print("Enter your marks")
marks = int(input())

Enter your marks
12

In [ ]:
if marks > 25 and marks <=45:
  print("the grade is E")
elif marks > 45 and marks <=50:
  print("the grade is D")
elif marks > 50 and marks <=60:
  print("the grade is C")   
elif marks > 60 and marks <=80:
  print("the grade is B")
elif marks > 80 and marks <=100:
  print("the grade is A")    
else:
  print("please enter correct marks")