<a href="https://colab.research.google.com/github/nileshmalode11/python_Assignment/blob/main/python_basic_Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem** **1**

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

**Solution**

In [ ]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# Store the highest temperature
max_temp = max(temperatures)
print("highest temperature in week:",max_temp)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)
print("Index of the element with the highest temperature:",max_temp_index)

In [ ]:
# Store the lowest temperature 
min_temp =min(temperatures) 
print("lowest temperature in week:",min_temp)

# Index of the element with the lowest temperature
min_temp_index =temperatures.index(min_temp)
print("Index of the element with the lowest temperature:",min_temp_index)

In [ ]:
# Swap the highest and the lowest temperatures
temperatures[4]=min_temp

temperatures[2]=max_temp

In [ ]:
print(temperatures)

**Problem** **2**

Measures of Averages
Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.

Median is the middle number in a sorted, ascending or descending, list of numbers. If the list has  numbers where  is odd, then median is the element in the middle i.e, 
 element. If  is even, then median is the mean of and elements

**solution**

In [ ]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

# Calculate the mean of the product prices. Use list functions. Also print the mean_price
def average(prod_price_list):
  return sum(prod_price_list) / len(prod_price_list)

mean_price= average(prod_price_list) 
print(mean_price)

1975.0

In [ ]:
def median(prod_price_list):
  # Step 1 - Obtain the sorted list. Print the sorted_prices
  sorted_prices =prod_price_list.sort()
  
  n=len(prod_price_list)
  m=n//2
  if n%2==0:
    return (prod_price_list[m-1]+prod_price_list[m])/2
  else:
    return prod_price_list[m]  
median_price =median(prod_price_list)
print(median_price)

575.0

In [ ]:
if mean_price > median_price:
  print("mean price is greter")
else:
  print("median is grater")

mean price is greter

**Problem** **3**

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

**solution**

In [ ]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

correct_tech_companies=[]

x=tech_companies.pop()

for item in tech_companies:
  correct_tech_companies.append(item)

for item in x:
  correct_tech_companies.append(item)

print(correct_tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [ ]:
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

correct_tech_companies=[]
# function used for removing nested
def removenestings(tech_companies):
    for i in tech_companies:
        if type(i) == list:
            removenestings(i)
        else:
            correct_tech_companies.append(i)
    return correct_tech_companies   
print(removenestings(tech_companies))

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']